<div class="bodycontrolgrid">
  <div class="sunrooft">
    <p class="text">Sunroof</p>
  </div>
  <div class="sunroofv">
    <label class="switch">
      <input type="checkbox" [(checked)]="_sunroof">
      <span class="slider round"></span>
    </label>
  </div>
  <div class="doorstext">
    <p class="text">Doors</p>
  </div>
  <div class="doorsvalue">
    <label class="switch">
      <input type="checkbox" [(checked)]="_doors">
      <span class="slider round"></span>
    </label>
  </div>
  <div class="chargeporttext">
    <p class="text">Charge Port</p>
  </div>
  <div class="chargeportvalue">
    <label class="switch">
      <input type="checkbox" [(checked)]="_chargeport">
      <span class="slider round"></span>
    </label>
  </div>
  <div class="windowstext">
    <p class="text">Windows</p>
  </div>
  <div class="windowsvalue">
    <label class="switch">
      <input type="checkbox" [(checked)]="_windows">
      <span class="slider round"></span>
    </label>
  </div>
</div>
