<div class="stateofchargegrid">
  <div>
    <p class="textSmall">Charge Remaining</p>
    <div class="battery textSmall">
      <div [ngClass]="_percentRemaining?getChargeClass():''" [style.width.%]="_percentRemaining">
        {{_percentRemaining}}%
      </div>
    </div>
  </div>
  <div>
    <p class="textSmall">Mileage Remaining</p>
    <div class="battery textSmall">
      <div [ngClass]="_remainingMileage?getMileageClass():''" [style.width.%]="_mileagepercent">
        {{_remainingMileage}}miles
      </div>
    </div>
  </div>
</div>
