.stateofchargegrid{
  display: grid;
  grid: 1fr 1fr/ 1fr;
  height: 100%;
  width: 100%;
}

.textSmall{
  color: white;
  font-size: 1.25vmin;
  font-family: Arial;
  text-align: center;
  padding-top: 0.5vh;
}

.battery:after {
  background-color: #000;
  border: 0.05vmax solid #fff;
  content: "";
  display: block;
  height: 1.5vh;
  position: absolute;
  right: -0.35vw;
  top: 0.55vh;
  width: 0.2vw;
}
.battery {
  background-color: #333333;
  border: 0.05vmax solid #fff;
  height: 3vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 10vw;
  margin-top: 1vh;
}

.battery-level-high {
  background-color: green;
  height: 100%;
}
.battery-level-medium {
  background-color: #CCA300;
  height: 100%;
}
.battery-level-low {
  background-color: #FF3333;
  height: 100%;
}
