.configgrid{
  display: grid;
  grid: 1fr 1fr 1fr 1fr 1fr 1fr  / 1fr 1fr;
  height: 100%;
  width: 100%;
  text-align: center;
  grid-template-areas:
    "a a"
    "a a"
    "b c"
    "d e"
    "f g"
    "h i";
}

.model{
  grid-area: a;
}

.carcolortext{
  grid-area: b;
}

.carcolorvalue{
  grid-area: c;
}

.wheeltypetext{
  grid-area: d;
}

.wheeltypevalue{
  grid-area: e;
}

.sunrooftext{
  grid-area: f;
}

.sunroofvalue{
  grid-area: g;
}

.dualmotortext{
  grid-area: h;
}

.dualmotorvalue{
  grid-area: i;
}

.textSmall{
  color: white;
  font-size: 1.25vmin;
  font-family: Arial;
}

.text{
  color: white;
  font-size: 2vmin;
  font-family: Arial;
}

.textLarge{
  color: white;
  font-size: 4vmin;
  font-family: Helvetica, sans-serif;
}
