.configgrid{
  display: grid;
  grid: 1fr 1fr 1fr 1fr 1fr 1fr  / 1fr 1fr;
  height: 100%;
  width: 100%;
  text-align: center;
  grid-template-areas:
    "a a"
    "a a"
    "b c"
    "d e"
    "f g"
    "h i";
}

.model{
  grid-area: a;
}

.carcolortext{
  grid-area: b;
}

.carcolorvalue{
  grid-area: c;
}

.wheeltypetext{
  grid-area: d;
}

.wheeltypevalue{
  grid-area: e;
}

.sunrooftext{
  grid-area: f;
}

.sunroofvalue{
  grid-area: g;
}

.dualmotortext{
  grid-area: h;
}

.dualmotorvalue{
  grid-area: i;
}

.textSmall{
  color: white;
  font-size: 1.25vmin;
  font-family: Arial;
  margin-right: 10px;
  margin-left: 10px;
}

.text{
  color: white;
  font-size: 2vmin;
  font-family: Arial;
}

.textLarge{
  color: white;
  font-size: 4vmin;
  font-family: Helvetica, sans-serif;
}

.yes{
  background-image: url("/assets/images/yes.png");
  background-repeat:no-repeat;
  height: 100%;
  background-position: center;
}

.no{
  background-image: url("/assets/images/no.png");
  background-repeat:no-repeat;
  height: 100%;
  background-position: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
