<div class="configgrid">
  <div class="model">
    <p class="textSmall">Model</p>
    <p class="textLarge">{{_model}}</p>
  </div>
  <div class="carcolortext">
    <p class="text">Color</p>
  </div>
  <div class="carcolorvalue">
    <p class="text">{{_color}}</p>
  </div>
  <div class="wheeltypetext">
    <p class="text">Wheel Type</p>
  </div>
  <div class="wheeltypevalue">
    <p class="text">{{_wheel}}</p>
  </div>
  <div class="sunrooftext">
    <p class="text">Sunroof</p>
  </div>
  <div class="sunroofvalue">
    <p class="text"> {{_sunroofString}} </p>
  </div>
  <div class="dualmotortext">
    <p class="text">Dual Motor</p>
  </div>
  <div class="dualmotorvalue">
    <p class="text"> {{_dualmotorString}} </p>
  </div>
</div>
