

.maingrid{
  display: flex;
  flex-direction: row;
  height: 47vh;
}

.maingrid div{
  border-color: white;
  border-style: solid;
}

.chargefirmgrid{
  display: grid;
  grid: 50% 50% / 1fr;
  width: 33vw;
}

.chargefirmgrid div{
  border-color: white;
  border-style: solid;
}

.config{
  background-image:url( /assets/images/background/teslaimg2.png );
  background-repeat:no-repeat;
  background-size:cover;
  width: 33vw;
}
